{% extends 'data/base.html' %} {% load static %} {% load custom_filters %}

{% block account %}
    {% if user.is_authenticated %}
        <title>Account</title>
        <div class="container mt-4">
            <div class="row">
                <!-- account details -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                        <div class="col">
                            <center>
                                <h4>Your Profile</h4>
                            </center>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col">
                            <center>
                                {% if user.userprofile.profile_picture %}
                                    <img width="100px" src="{{ user.userprofile.profile_picture.url }}">
                                {% else %}
                                    <img width="100px" src="{% static '/img/avatar.svg' %}" />
                                {% endif %}
                                <br>
                                <br>
                                Username: {{user}}
                            </center>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        </div>
                        <form class="row g-3" method="post" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="id_first_name">First Name</label>
                                <input type="text" id="id_first_name" name="first_name" value="{{ user.first_name }}" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="id_last_name">Last Name</label>
                                <input type="text" id="id_last_name" name="last_name" value="{{ user.last_name }}" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="id_email">Email</label>
                                <input type="email" id="id_email" name="email" value="{{ user.email }}" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_phone">Phone</label>
                                <input type="tel" id="id_phone" name="phone" value="{{ user.userprofile.phone }}" class="form-control">
                            </div>
                            <div class="col-12">
                                <label for="id_address">Address</label>
                                <input type="text" id="id_address" name="address" value="{{ user.userprofile.address }}" class="form-control">
                            </div>
                            <div class="col-md-5">
                                <label for="id_city">City</label>
                                <input type="text" id="id_city" name="city" value="{{ user.userprofile.city }}" class="form-control">
                            </div>
                            <div class="col-md-7">
                            <label for="id_state">State</label>
                            <select type="text" id="id_state" name="state" class="form-control form-select">
                                <option selected>{{ user.userprofile.state }}</option>
                                <option>Baden-Württemberg</option>
                                <option>Bayern</option>
                                <option>Berlin</option>
                                <option>Brandenburg</option>
                                <option>Bremen</option>
                                <option>Hamburg</option>
                                <option>Hessen</option>
                                <option>Mecklenburg-Vorpommern</option>
                                <option>Niedersachsen</option>
                                <option>Nordrhein-Westfalen</option>
                                <option>Rheinland-Pfalz</option>
                                <option>Saarland</option>
                                <option>Sachsen</option>
                                <option>Sachsen-Anhalt</option>
                                <option>Schleswig-Holstein</option>
                                <option>Thüringen</option>
                            </select>
                            </div>
                            <div class="col-md-3">
                                <label for="id_zip_code">Zip</label>
                                <input type="text" id="id_zip_code" name="zip_code" value="{{ user.userprofile.zip_code }}" class="form-control">
                            </div>
                            <div class="col-md-9">
                                <label for="id_profile_picture">Profile picture</label>
                                <input type="file" id="id_profile_picture" name="profile_picture" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-4 mt-0">
                                <!-- <label for="id_username">Username</label> -->
                                <input type="text" id="id_username" name="username" value="{{ user.username }}" class="form-control" required>
                            </div>
                            <div class="col-md-5 mt-0 ">
                                <a class="btn btn-secondary" href="{% url 'password' %}">Change Password</a>
                            </div>
                            <div class="col-md-3 mt-0">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- registered data -->
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                        <div class="col">
                            <center>
                                <h4>Registered Data</h4>
                            </center>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        </div>
                        <div class="row">
                            <form id="deleteForm" method="post" action="{% url 'delete_selected_explants' %}">
                                {% csrf_token %}
                                <ul class="nav nav-tabs" id="myTabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="huefte-tab" data-bs-toggle="tab" href="#huefte">Hüftexplantat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="knie-tab" data-bs-toggle="tab" href="#knie">Knieexplant</a>
                                </li>
                                </ul>
                                <div class="tab-content">
                                <div class="tab-pane fade show active" id="huefte">
                                    <div class="container mt-3 mb-2">
                                    <a class="btn btn-outline-primary btn-sm rounded-pill" href="{% url 'add-explants' %}" role="button"><i class="bi bi-plus-circle"></i> Add</a>
                                    <a id="exportPdfHuefte" class="btn btn-outline-secondary btn-sm rounded-pill" href="{% url 'explant_pdf' %}" role="button"><i class="bi bi-filetype-pdf"></i> Export as PDF</a>
                                    <a id="exportCsvHuefte" class="btn btn-outline-secondary btn-sm rounded-pill" href="{% url 'explant_csv' %}" role="button"><i class="bi bi-filetype-csv"></i> Export as CSV</a>
                                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill deleteButton"><i class="bi bi-trash3"></i> Delete</button>
                                    </div>
                                    <div class="table-responsive">
                                        {% include 'data/table_template.html' with data=huefte_explant_table is_huefte=True %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="knie">
                                    <div class="container mt-3 mb-2">
                                    <a class="btn btn-outline-primary btn-sm rounded-pill" href="{% url 'add-explants' %}" role="button"><i class="bi bi-plus-circle"></i> Add</a>
                                    <a id="exportPdfKnie" class="btn btn-outline-secondary btn-sm rounded-pill" href="{% url 'explant_pdf' %}" role="button"><i class="bi bi-filetype-pdf"></i> Export as PDF</a>
                                    <a id="exportCsvKnie" class="btn btn-outline-secondary btn-sm rounded-pill" href="{% url 'explant_csv' %}" role="button"><i class="bi bi-filetype-csv"></i> Export as CSV</a>
                                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill deleteButton"><i class="bi bi-trash3"></i> Delete</button>
                                    </div>
                                    <div class="table-responsive">
                                        {% include 'data/table_template.html' with data=knie_explant_table is_huefte=False %}
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <script defer src="{% static '/js/checkbox_table.js' %}"></script>
        <script defer src="{% static '/js/export.js' %}"></script>
        <script defer src="{% static '/js/delete_function.js' %}"></script>
        <script defer src="{% static '/js/expand_table.js' %}"></script>
        <script defer src="{% static '/js/expand_text.js' %}"></script>
        <script defer src="{% static '/js/update_form.js' %}"></script>
    
    {% else %}
        {% url 'sign_in' as sign_in %}
        <script>
            window.location.href = "{% url 'sign_in' %}";
        </script>

    {% endif %}
{% endblock %}