{% extends 'data/base.html' %} {% load static %}  {% block dashboard %}

{% if user.is_authenticated %}
<title>Dashboard</title>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<!-- Charts -->
  <canvas class="my-4 w-100" id="mixedChart" width="900" height="380"></canvas>
  <script>
    const mixedChart = new Chart(document.getElementById('mixedChart').getContext('2d'), {
        type: 'bar',
        data: {
            datasets: [{
                label: 'quantity',
                data: ["{{ explantate_count }}", "{{ reoperationen_count }}", "{{ inlays_count }}", "{{ köpfe_count }}", "{{ schafte_count }}", "{{ pfannen_count }}", "{{ patellaersätze_count }}", "{{ tibiaplateau_count }}", "{{ femurkomponenten_count }}"],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                // this dataset is drawn below
                order: 2
            }, {
                label: 'Line Dataset',
                data: [10, 5, 7, 2], // Hier müssten Ihre eigenen Daten sein
                type: 'line',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                // this dataset is drawn on top
                order: 1
            }],
            labels: ["Explantate", "Reoperationen", "Inlays", "Köpfe", "Schafte", "Pfannen", "Patellaersätze", "Tibiaplateau", "Femurkomponenten"]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    });
  </script>
<!--Table-->
<h2>Recently added</h2>
    <div class="container mt-3 mb-2">
      <div class="container shadow-sm rounded py-1">
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Ursache</th>
                <th scope="col">Verfügbarkeit</th>
                <th scope="col">Herkunftsort</th>
                <th scope="col">Entnahmedatum</th>
                <th scope="col">Eingangsdatum</th>
                <th scope="col">Bruchgeschehen</th>
                <th scope="col">Nutzungsdauer</th>
                <th scope="col">Reinigung</th>
                </tr>
            </thead>
            <tbody>
                {% for explant in explants %}
                    <tr class="table-row">
                        <td>{{ explant.id }}</td>
                        <td>{{ explant.ursache }}</td>
                        <td>{{ explant.verfuegbarkeit }}</td>
                        <td>{{ explant.herkunftsort }}</td>
                        <td>{{ explant.entnahme_datum }}</td>
                        <td>{{ explant.eingang_datum }}</td>
                        <td>{{ explant.bruchgeschehen }}</td>
                        <td>{{ explant.nutzungsdauer }}</td>
                        <td>{{ explant.reinigung }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if explants.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ explants.previous_page_number }}">Previous</a></li>
            {% endif %}

            <!-- <li class="page-item disabled"><a class="page-link" href="#">Page: {{ explants.number }} of {{ explants.paginator.num_pages }}</a></li> -->
            {% for i in nums %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if explants.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ explants.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ explants.paginator.num_pages}}">Last &raquo;</a></li>
            {% endif %}
          </ul>
        </nav>

      </div>
    </div>
  </div>

{% else %}
    {% url 'sign_in' as sign_in %}
    <script>
        window.location.href = "{% url 'sign_in' %}";
    </script>

{% endif %}

{% endblock %}
