{% extends 'data/base.html' %} {% load static %}  {% block dashboard %}

{% if user.is_authenticated %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
</div>
<!-- Charts -->
<canvas class="my-4 w-100" id="myChart" width="900" height="380">
  {% block charts %}
  <!-- Charts -->
  {% endblock %}
</canvas>
<!--Table-->
<h2>Data</h2>
    <div class="container shadow-sm rounded">
      <form id="deleteForm" method="post" action="{% url 'delete_selected_explants' %}">
        {% csrf_token %}
          <a class="btn btn-outline-primary btn-sm rounded-pill" href="{% url 'add-explants' %}" role="button"><i class="bi bi-plus-circle"></i> Add</a>
          <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill"><i class="bi bi-box-arrow-up"></i> Export</button>
          <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill deleteButton"><i class="bi bi-trash3"></i> Delete</button>
          <div class="container">
            {% block content %}
                {% include 'data/table_template.html' with data=huefte_explant_table is_huefte=True %}
                {% include 'data/table_template.html' with data=knie_explant_table is_huefte=False %}
            {% endblock %}
          </div>
      </form>
    </div>

<script defer src="{% static '/js/delete_function.js' %}"></script>
<script defer src="{% static '/js/expand_table.js' %}"></script>
<script defer src="{% static '/js/update_form.js' %}"></script>
<script defer src="{% static '/js/checkbox_table.js' %}"></script>

{% else %}
    {% url 'sign_in' as sign_in %}
    <script>
        window.location.href = "{% url 'sign_in' %}";
    </script>

{% endif %}

{% endblock %}
