{% extends 'data/base.html' %} {% load static %}  {% block dashboard %}

{% if user.is_authenticated %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
</div>
<!-- Charts -->
<canvas class="my-4 w-100" id="myChart" width="900" height="380">
  {% include 'data/explant_analytic.html' %}
</canvas>
<!--Table-->
<h2>Data</h2>
  <div class="table-responsive">
    <div class="container mt-3 mb-2">
      <div class="container shadow-sm rounded">
        <table class="table table-sm">
          <thead>
              <tr>
              <th scope="col">ID</th>
              <th scope="col">Ursache</th>
              <th scope="col">Verfügbarkeit</th>
              <th scope="col">Herkunftsort</th>
              <th scope="col">Entnahmedatum</th>
              <th scope="col">Eingangsdatum</th>
              <th scope="col">Bruchgeschehen</th>
              <th scope="col">Nutzungsdauer</th>
              <th scope="col">Reinigung</th>
              </tr>
          </thead>
          <tbody>
              {% for explant in explant_list %}
                  <tr class="table-row">
                      <td>{{ explant.id }}</td>
                      <td>{{ explant.ursache }}</td>
                      <td>{{ explant.verfuegbarkeit }}</td>
                      <td>{{ explant.herkunftsort }}</td>
                      <td>{{ explant.entnahme_datum }}</td>
                      <td>{{ explant.eingang_datum }}</td>
                      <td>{{ explant.bruchgeschehen }}</td>
                      <td>{{ explant.nutzungsdauer }}</td>
                      <td>{{ explant.reinigung }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>

{% else %}
    {% url 'sign_in' as sign_in %}
    <script>
        window.location.href = "{% url 'sign_in' %}";
    </script>

{% endif %}

{% endblock %}
