{% extends 'data/base.html' %} {% block charts %}

{% if user.is_authenticated %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Analytics</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<canvas class="my-4 w-100" id="myChart" width="900" height="380">
  <!-- Charts -->
</canvas>
<script>
  let ctx = document.getElementById("myChart").getContext("2d");
  let chart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["2020/Q1", "2020/Q2", "2020/Q3", "2020/Q4"],
      datasets: [
        {
          label: "Gross volume ($)",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [26900, 28700, 27300, 29200],
        },
      ],
    },
    options: {
      title: {
        text: "Gross Volume in 2020",
        display: true,
      },
    },
  });
</script>

{% else %}
  {% url 'sign_in' as sign_in %}
  <script>
      window.location.href = "{% url 'sign_in' %}";
  </script>

{% endif %}

{% endblock %}
