{% extends 'data/base.html' %} 
{% block form %}

{% if user.is_authenticated %}
    <!-- <div class="alert alert-succes alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Data has been inserted
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->
    <h2>Explant data registration</h2>
        <div class="container">
            <!-- <form action="" method="POST" novalidate>
                {% csrf_token %}

                {{ explantat_form.as_p }}
                
                {% if kopf_form.errors %}
                        {% for field in kopf_form %}
                            {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                            {% endfor %}
                        {% endfor %}
                {% endif %}

                <h3>Lagerort</h3>
                {{ lagerort_form.as_p }}
                <h3>Patient</h3>
                {{ patient_form.as_p }}
                <h3>Reoperation</h3>
                {{ reoperation_form.as_p }}
                <h3>Inlay</h3>
                {{ inlay_form.as_p }}
                <h3>Kopf</h3>
                {{ kopf_form.as_p }}
                
                <h3>Femurkomponente</h3>
                {{ femurkomponente_form.as_p }}
                <h3>Schaft</h3>
                {{ schaft_form.as_p }}
                <h3>Tibiaplateau</h3>
                {{ tibiaplateau_form.as_p }}
                <h3>Pfanne</h3>
                {{ pfanne_form.as_p }}
                <h3>Patellaersatz</h3>
                {{ patellaersatz_form.as_p }}
    
                <input type="submit" value="submit" class="btn btn-primary">
            </form> -->
            <h1>Explantat hinzufügen</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <input type="submit" value="Speichern">
            </form>
        </div>

    {% else %}
    {% url 'start' as start %}
    <script>
        window.location.href = "{{ start }}";
    </script>

{% endif %}

{% endblock %}