{% extends 'data/base.html' %} {% load static %} {% block table %}

{% if user.is_authenticated %}
  <style>
    .btn-outline-secondary:hover{
      text-decoration: none;
      color: #4f575d; 
      border-color: #4f575d; 
      background-color: transparent; 
    }
  </style>

  <h2>Knie Explant</h2>
  {% include 'data/table_template.html' with data=knie_explant_table is_huefte=False %}

  <h2>Hüfte Explant</h2>
  {% include 'data/table_template.html' with data=huefte_explant_table is_huefte=True %}

  <script src="{% static '/js/update_form.js' %}"></script>
  <script src="{% static '/js/expand_table.js' %}"></script>
  <script src="{% static '/js/table_modal.js' %}"></script>
  
{% else %}
    {% url 'start' as start %}
    <script>
        window.location.href = "{{ start }}";
    </script>

{% endif %}

{% endblock %}
