{% extends 'data/base.html' %} {% load i18n %} {% block charts %}

{% if user.is_authenticated %}
<title>Analytics</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<div class="container mb-2">
  <div class="row">
    <div class="col-lg-12">
      <canvas class="my-4 w-100" id="mixedChart" width="900" height="380">
        <!-- Hauptdiagramm -->
      </canvas> 
      <script>
        const rawData = [
            { label: "{% trans 'Inlays' %}", quantity: "{{ bar_chart_data.inlays_count }}", recycled: "{{ bar_chart_data.recycled_inlays_count }}" },
            { label: "{% trans 'Köpfe' %}", quantity: "{{ bar_chart_data.köpfe_count }}", recycled: "{{ bar_chart_data.recycled_köpfe_count }}" },
            { label: "{% trans 'Schafte' %}", quantity: "{{ bar_chart_data.schafte_count }}", recycled: "{{ bar_chart_data.recycled_schafte_count }}" },
            { label: "{% trans 'Pfannen' %}", quantity: "{{ bar_chart_data.pfannen_count }}", recycled: "{{ bar_chart_data.recycled_pfannen_count }}" },
            { label: "{% trans 'Patellaersätze' %}", quantity: "{{ bar_chart_data.patellaersätze_count }}", recycled: "{{ bar_chart_data.recycled_patellaersaetze_count }}" },
            { label: "{% trans 'Tibiaplateaus' %}", quantity: "{{ bar_chart_data.tibiaplateau_count }}", recycled: "{{ bar_chart_data.recycled_tibiaplateaus_count }}" },
            { label: "{% trans 'Femurkomponenten' %}", quantity: "{{ bar_chart_data.femurkomponenten_count }}", recycled: "{{ bar_chart_data.recycled_femurkomponenten_count }}" },
            { label: "{% trans 'Reoperationen' %}", quantity: "{{ bar_chart_data.reoperationen_count }}", recycled: "" },
            { label: "{% trans 'Explantate' %}", quantity: "{{ bar_chart_data.explantate_count }}", recycled: "" },
        ];
    
        const filteredData = rawData.filter(item => parseInt(item.quantity) > 0 || parseInt(item.recycled) > 0);
    
        const labels = filteredData.map(item => item.label);
        const quantityData = filteredData.map(item => parseInt(item.quantity));
        const recycledChartData = filteredData.map(item => parseInt(item.recycled));
    
        if (labels.length > 0) {
            const mixedChart = new Chart(document.getElementById('mixedChart').getContext('2d'), {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'quantity',
                        data: quantityData,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        // this dataset is drawn below
                        order: 2
                    }, {
                        label: 'recycled',
                        data: recycledChartData,
                        type: 'line',
                        backgroundColor: 'rgba(46, 204, 113, 0.2)',
                        borderColor: 'rgba(46, 204, 113, 1)',
                        borderWidth: 1,
                        // this dataset is drawn on top
                        order: 1
                    }],
                    labels: labels
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    }
                }
            });
        } else {
            console.log('Keine Daten vorhanden.');
        }
    </script>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4">
      <!-- Erstes kleines Diagramm -->
      <canvas id="Doughnut" width="200" height="200"></canvas>
      <script>
        const doughnutCanvas = document.getElementById('Doughnut').getContext('2d');
        const doughnutChart = new Chart(doughnutCanvas, {
            type: 'doughnut',
            data: {
                labels: ['Hüfte', 'Knie'],
                datasets: [{
                    label: 'Explantate',
                    data: [
                        '{{ doughnut_chart_data.huefte_explant_count }}',
                        '{{ doughnut_chart_data.knie_explant_count }}'
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                cutout: '70%'
            }
        });
    </script>
    </div>
    <div class="col-lg-4">
      <!-- Zweites kleines Diagramm -->
      <canvas id="lineChart" width="200" height="200"></canvas>
      <script>
          // Laden der Daten direkt in JavaScript-Variablen
          var months = JSON.parse('{{ line_chart_data.months|safe }}');
          var counts = JSON.parse('{{ line_chart_data.counts|safe }}');
      
          // Monate als Namen formatieren (z.B. 1 -> Januar)
          var monthNames = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'];
          var formattedMonths = months.map(function(month) {
              return monthNames[month - 1]; // Monat - 1, da Monate bei 0 beginnen
          });
      
          var ctx = document.getElementById('lineChart').getContext('2d');
      
          // Funktion zum Aktualisieren des Liniendiagramms mit den gerenderten Daten
          function updateLineChart() {
              var lineChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: formattedMonths,
                      datasets: [{
                          label: 'Registrierte Explantate pro Monat',
                          data: counts,
                          backgroundColor: 'rgba(192, 192, 192, 0.2)',
                          borderColor: 'rgba(105, 105, 105, 1)',
                          borderWidth: 1,
                          fill: true
                      }]
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      }
                  }
              });
          }
      
          updateLineChart();
      </script>
    </div>
    <div class="col-lg-4">
      <!-- Drittes kleines Diagramm -->
      <canvas id="polarAreaChart" width="200" height="200"></canvas>
      <script>
        var ctx = document.getElementById('polarAreaChart').getContext('2d');
        var polarAreaChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple'],
                datasets: [{
                    label: 'My Dataset',
                    data: [12, 19, 3, 5, 2],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    r: {
                        suggestedMin: 0
                    }
                }
            }
        });
      </script>
    </div>
  </div>
</div>

{% else %}
  {% url 'sign_in' as sign_in %}
  <script>
      window.location.href = "{% url 'sign_in' %}";
  </script>

{% endif %}

{% endblock %}
