{% extends 'data/base.html' %} {% block charts %}

{% if user.is_authenticated %}
<title>Analytics</title>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Analytics</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<canvas class="my-4 w-100" id="myChart" width="900" height="380">
  <!-- Charts -->
</canvas> 
<script>
  // Daten für den Graphen
  var data = {
      labels: ["Explantate", "Reoperationen", "Inlays", "Köpfe", "Schafte", "Pfannen", "Patellaersätze", "Tibiaplateau", "Femurkomponenten"],
      datasets: [{
          label: 'Anzahl',
          data: ["{{ explantate_count }}", "{{ reoperationen_count }}", "{{ inlays_count }}", "{{ köpfe_count }}" , "{{ schafte_count }}", "{{ pfannen_count }}", "{{ patellaersätze_count }}", "{{ tibiaplateau_count }}", "{{ femurkomponenten_count }}"],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
      }]
  };

  // Konfiguration des Graphen
  var options = {
      scales: {
          y: {
              beginAtZero: true,
              ticks: {
                stepSize: 1
            }
          }
      }
  };

  // Graph erstellen
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
  });
</script>

{% else %}
  {% url 'sign_in' as sign_in %}
  <script>
      window.location.href = "{% url 'sign_in' %}";
  </script>

{% endif %}

{% endblock %}
