{% extends 'data/base.html' %} {% load static %} {% load custom_filters %}

{% block help %}
    {% if user.is_authenticated %}
        
    <title>Help center</title>
        <div class="container mt-4">
            <div class="row">
              <div class="col-md-3">
                <div class="p-3">
                  <!-- Inhalt des ersten Containers -->
                    <!-- erster Teil -->
                    <!-- <div class="d-flex align-items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                            <path d="M7.5 11v5.777c0 .115.04.226.12.309C8.054 17.538 9.681 19 12.5 19s4.445-1.462 4.88-1.914a.442.442 0 00.12-.31V11" stroke="#190041" stroke-width="2"></path>
                            <path d="M3.5 14.5V9.325a.5.5 0 01.297-.457l8.5-3.778a.5.5 0 01.406 0l7.769 3.453a.5.5 0 010 .914l-7.77 3.454a.5.5 0 01-.404 0L4.5 9.5" stroke="#190041" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                        <h5 class="fw-semibold m-0">Learn</h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            <div class="d-flex">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i> Hauptpunkt 1</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4">Unterpunkt 1</li>
                                    <li class="ps-4">Unterpunkt 2</li>
                                    <li class="ps-4">Unterpunkt 3</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i> Hauptpunkt 1</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4">Unterpunkt 1</li>
                                    <li class="ps-4">Unterpunkt 2</li>
                                    <li class="ps-4">Unterpunkt 3</li>
                                </ul>
                            </div>
                        </li>
                    </ul> -->
                    <!-- zweiter Teil -->
                    <div class="d-flex align-items-center"><!-- mt-4 entfernt -->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                            <path clip-rule="evenodd" d="M14 5H8C7 5 6 6 6 7v10c0 1 1 2 2 2h8c1 0 2-1 2-2V9l-4-4z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 15h4M10 12h1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path clip-rule="evenodd" d="M13 5v4a1 1 0 001 1h4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.5 7.5l2 2 1-1-2-2-1 1z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <h5 class="fw-semibold m-0">Help docs</h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i>New to ExReg</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4"><a href="">Welcome to ExReg</a></li>
                                    <li class="ps-4"><a href="">How ExReg is organized</a></li>
                                    <li class="ps-4"><a href="">Navigating ExReg</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i>Share and collaborate</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i>Organize your data</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i>Settings</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i>Security</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                    <li class="ps-4"><a href="">Unterpunkt</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold"><i class="bi bi-chevron-right toggle-subitems"></i>Legal and privacy</span>
                            </div>
                            <div>
                                <ul class="list-unstyled pl-3 text-body-secondary" style="display: none;">
                                    <li class="ps-4">User Terms of Service</li>
                                    <li class="ps-4">Privacy Policy</li>
                                    <li class="ps-4">Open Source</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!-- dritter Teil -->
                    <div class="d-flex align-items-center mt-4">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                            <path d="M9 9h6M9 12h2M17 5H7a2 2 0 00-2 2v12l3-3h9a2 2 0 002-2V7a2 2 0 00-2-2z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <h5 class="fw-semibold m-0">Get in touch</h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold">
                                    <a href="">
                                        <i class="bi bi-arrow-right-short"></i>Contact us
                                    </a>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto fw-semibold">
                                    <a href="">
                                        <i class="bi bi-arrow-right-short"></i>Changelog
                                    </a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
              </div>
              <div class="col-md-auto border-start"></div>
              <div class="col-md-8">
                <!-- Zweiter Container (3 Teile) -->
                <div class="p-3">
                  <!-- Inhalt des zweiten Containers -->
                  <h1>Header</h1>
                  <div class="d-inline-flex flex-wrap">
                    <a href="{% url 'help' %}">Help</a>
                    <span style="line-height: 0; display: block;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="color: rgb(12, 0, 32); opacity: 0.6;">
                            <path d="M8 19l8-14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <a href="#">Tab name</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            // JavaScript, um Unterpunkte beim Klicken anzuzeigen
            document.addEventListener("DOMContentLoaded", function() {
              // Alle Listenelemente mit Unterpunkten auswählen
              var listItemsWithSubitems = document.querySelectorAll('.list-group-item');
              
              // Iteriere über jedes Listenelement
              listItemsWithSubitems.forEach(function(item) {
                // Füge Klickereignis hinzu
                item.addEventListener('click', function() {
                  // Toggle-Anzeige der Unterpunkte
                  var subItems = this.querySelector('ul');
                  if (subItems) {
                    subItems.style.display = (subItems.style.display === 'none' || subItems.style.display === '') ? 'block' : 'none';
                  }
                });
              });
            });
          </script>
          
    {% else %}
        {% url 'sign_in' as sign_in %}
        <script>
            window.location.href = "{% url 'sign_in' %}";
        </script>

    {% endif %}
{% endblock %}