{% extends 'data/base.html' %} {% load static %} {% load custom_filters %}

{% block help %}
    {% if user.is_authenticated %}
    <head>
        <link rel="stylesheet" href="{% static '/css/help_page.css' %}" />
    </head>
    <title>Help center</title>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-3 d-none d-lg-block">
                    <div class="p-3 sticky-top" style="top: 80px;">
                    <!-- Inhalt des ersten Containers -->
                    <!-- erster Teil -->
                        <div class="d-flex align-items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                                <path clip-rule="evenodd" d="M14 5H8C7 5 6 6 6 7v10c0 1 1 2 2 2h8c1 0 2-1 2-2V9l-4-4z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M10 15h4M10 12h1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path clip-rule="evenodd" d="M13 5v4a1 1 0 001 1h4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.5 7.5l2 2 1-1-2-2-1 1z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <h5 class="fw-semibold m-0">Help docs</h5>
                        </div>
                        <ul class="list-group mt-1">
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <a class="mr-auto fw-semibold section-title"><i class="bi bi-chevron-right me-2 toggle-subitems"></i>New to ExReg</a>
                                </div>
                                <div class="container">
                                    <ul class="list-unstyled pl-3 sublist" style="display: none;">
                                        <li class="ps-4 mt-2"><a href="">Welcome to ExReg</a></li>
                                        <li class="ps-4 mt-2"><a href="">How ExReg is organized</a></li>
                                        <li class="ps-4 mt-2"><a href="">Navigating ExReg</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <a class="mr-auto fw-semibold section-title"><i class="bi bi-chevron-right me-2 toggle-subitems"></i>Share and collaborate</a>
                                </div>
                                <div>
                                    <ul class="list-unstyled pl-3 sublist" style="display: none;">
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <a class="mr-auto fw-semibold section-title"><i class="bi bi-chevron-right me-2 toggle-subitems"></i>Organize your data</a>
                                </div>
                                <div>
                                    <ul class="list-unstyled pl-3 sublist" style="display: none;">
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <a class="mr-auto fw-semibold section-title"><i class="bi bi-chevron-right me-2 toggle-subitems"></i>Settings</a>
                                </div>
                                <div>
                                    <ul class="list-unstyled pl-3 sublist" style="display: none;">
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <a class="mr-auto fw-semibold section-title"><i class="bi bi-chevron-right me-2 toggle-subitems"></i>Security</a>
                                </div>
                                <div>
                                    <ul class="list-unstyled pl-3 sublist" style="display: none;">
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                        <li class="ps-4 mt-2"><a href="">Unterpunkt</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <a class="mr-auto fw-semibold section-title"><i class="bi bi-chevron-right me-2 toggle-subitems"></i>Legal and privacy</a>
                                </div>
                                <div>
                                    <ul class="list-unstyled pl-3 sublist" style="display: none;">
                                        <li class="ps-4 mt-2"><a href="">User Terms of Service</a></li>
                                        <li class="ps-4 mt-2"><a href="">Privacy Policy</a></li>
                                        <li class="ps-4 mt-2"><a href="">Open Source</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- dritter Teil -->
                        <div class="d-flex align-items-center mt-4">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                                <path clip-rule="evenodd" d="M5.877 16C5.393 16 5 15.621 5 15.154c0-.196.07-.386.2-.537 1.028-1.209 1.543-2.424 1.543-3.647l-.004-.283.002.142-.015-.421c-.17-2.819 2.063-5.236 4.985-5.4l.153-.006.154-.002.118.002.153.007c2.856.159 5.052 2.471 4.993 5.207l-.008.192a9.416 9.416 0 00-.017.562c0 1.223.515 2.438 1.544 3.647.129.151.199.341.199.537a.858.858 0 01-.775.84l-.102.006H5.877z" stroke="currentColor" stroke-width="2"></path>
                                <path d="M14 19c-.667.667-1.333 1-2 1s-1.333-.333-2-1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <circle cx="12" cy="4.5" r="0.5" stroke="currentColor" stroke-width="2"></circle>
                            </svg>
                            <h5 class="fw-semibold m-0">Updates</h5>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <span class="mr-auto fw-semibold">
                                        <a class="section-title" href="">
                                            <i class="bi bi-arrow-right-short me-2"></i>Changelog
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <span class="mr-auto fw-semibold">
                                        <a class="section-title" href="">
                                            <i class="bi bi-arrow-right-short me-2"></i>Feedback
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="d-flex align-items-center">
                                    <span class="mr-auto fw-semibold">
                                        <a class="section-title" href="">
                                            <i class="bi bi-arrow-right-short me-2"></i>Roadmap
                                        </a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-auto border-start d-none d-lg-block"></div>
                <div class="col-md-8">
                <!-- Zweiter Container -->
                        <div class="p-3">
                            <section class="help_center">
                                <h1 class="mb-4 fw-bold">Help, resources, and support</h1>
                                <p class="fs-5 fw-medium">
                                    Find the answers you need to leverage the full potential of ExReg.
                                </p>
                                <h2 class="mt-5 mb-3 fw-bold">Help docs</h2>
                                <div class="row row-cols-1 row-cols-md-2 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="#section-title" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                            <div class="card-body">
                                                <a href=""><h5 class="card-title fw-bold">New to ExReg</h5></a>
                                                <a href="">Welcome to ExReg</a><br>
                                                <a href="">How ExReg is organized</a><br>
                                                <a href="" class="link-secondary">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="#section-title" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                            <div class="card-body">
                                                <a href=""><h5 class="card-title fw-bold">Section title</h5></a>
                                                <a href="">Unterpunkt 1</a><br>
                                                <a href="">Unterpunkt 2</a><br>
                                                <a href="" class="link-secondary">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="#section-title" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                            <div class="card-body">
                                                <a href=""><h5 class="card-title fw-bold">Section title</h5></a>
                                                <a href="">Unterpunkt 1</a><br>
                                                <a href="">Unterpunkt 2</a><br>
                                                <a href="" class="link-secondary">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="#section-title" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                            <div class="card-body">
                                                <a href=""><h5 class="card-title fw-bold">Section title</h5></a>
                                                <a href="">Unterpunkt 1</a><br>
                                                <a href="">Unterpunkt 2</a><br>
                                                <a href="" class="link-secondary">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="#section-title" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                            <div class="card-body">
                                                <a href=""><h5 class="card-title fw-bold">Section title</h5></a>
                                                <a href="">Unterpunkt 1</a><br>
                                                <a href="">Unterpunkt 2</a><br>
                                                <a href="" class="link-secondary">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="#section-title" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                            <div class="card-body">
                                                <a href=""><h5 class="card-title fw-bold">Section title</h5></a>
                                                <a href="">Unterpunkt 1</a><br>
                                                <a href="">Unterpunkt 2</a><br>
                                                <a href="" class="link-secondary">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <h2 class="mt-5 mb-4 fw-bold">Get in touch</h2><hr>
                            <div class="container py-3">
                                <div class="row">
                                    <div class="col-5">
                                        <div>
                                            <img src="https://placehold.co/260x175" class="card-img-top rounded-3" alt="">
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="">
                                            <h4 class="fw-bolder">Email us</h4>
                                            <p class="fs-6 fw-normal">Contact us and get a response within 24 hours.</p>
                                            <a href="" class="btn btn-primary">Get in touch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-none"><!-- Template Test -->
                                {% include 'data/help_section_template.html' with tab_name="Test" section_title="New to ExReg" bt_icon="bi bi-house-heart" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
                            </div>
                        </div>
                </div>
            </div>
          </div>
          <script>
            // JavaScript, um Unterpunkte beim Klicken anzuzeigen und das Icon zu ändern
            document.addEventListener("DOMContentLoaded", function() {
                var listItemsWithSubitems = document.querySelectorAll('.list-group-item');

                listItemsWithSubitems.forEach(function(item) {
                    item.addEventListener('click', function() {
                        var subItems = this.querySelector('ul');
                        var icon = this.querySelector('.toggle-subitems');
                        if (subItems) {
                            var isExpanded = (subItems.style.display === 'block');
                            subItems.style.display = isExpanded ? 'none' : 'block';
                            if (icon) {
                                icon.className = isExpanded ? 'bi bi-chevron-right me-2 toggle-subitems' : 'bi bi-chevron-down me-2 toggle-subitems';
                            }
                        }
                    });
                });
            });
          </script>
          
    {% else %}
        {% url 'sign_in' as sign_in %}
        <script>
            window.location.href = "{% url 'sign_in' %}";
        </script>

    {% endif %}
{% endblock %}