{% extends 'data/base.html' %}

<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_label_id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Update Form ... -->
        <form class="update-form" method="post" action="{{ update_url }}">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ modal_title_id }}">{{ modal_title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="alert-container"></div>
            <!-- Forms -->
            {{ modal_content }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>