[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
packaging = "==23.2"
wheel = "*"
psycopg2-binary = "==2.9.9"
setuptools = "*"
asgiref = "==3.7.2"
django-cors-headers = "==4.2.0"
gunicorn = "*"
pillow = "*"
python-decouple = "==3.8"
python-dotenv = "==1.0.0"
sqlparse = "*"
whitenoise = "==6.5.0"
reportlab = "*"
django-auto-logout = "*"
pip-upgrader = "*"
django-multi-captcha-admin = "*"
django-simple-captcha = "*"
django-import-export = "*"
django-filter = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.11"
