{% extends 'data/base.html' %} {% load static %} {% load custom_filters %}

{% block help %}
    {% if user.is_authenticated %}
    <head>
        <link rel="stylesheet" href="{% static '/css/help_page.css' %}" />
    </head>
    <title>Help center</title>
        <div class="container mt-4">
            <div class="row">
                <!-- Sidebar -->
                {% include "helppage/help_sidebar.html" %}
                <div class="col-md-auto border-start d-none d-lg-block"></div>
                <!-- Zweiter Container -->
                <div class="col-md-8">
                    <div class="p-3">
                        <section class="help_center">
                            <h1 class="mb-4 fw-bold">Help, resources, and support</h1>
                            <p class="fs-5 fw-medium">
                                Find the answers you need to leverage the full potential of ExReg.
                            </p>
                            <h2 class="mt-5 mb-3 fw-bold">Help docs</h2>
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <a href="{% url 'help-section' %}?selected_section=New_to_ExReg" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                        <div class="card-body">
                                            <a href="{% url 'help-section' %}?selected_section=New_to_ExReg"><h5 class="card-title fw-bold">New to ExReg</h5></a>
                                            <a href="{% url 'help-article' %}?selected_article=Welcome_to_ExReg">Welcome to ExReg</a><br>
                                            <a href="">How ExReg is organized</a><br>
                                            <a href="{% url 'help-section' %}?selected_section=New_to_ExReg" class="link-secondary">See more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a href="{% url 'help-section' %}?selected_section=Share_and_collaborate" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                        <div class="card-body">
                                            <a href="{% url 'help-section' %}?selected_section=Share_and_collaborate"><h5 class="card-title fw-bold">Share & collaborate</h5></a>
                                            <a href="">Unterpunkt 1</a><br>
                                            <a href="">Unterpunkt 2</a><br>
                                            <a href="{% url 'help-section' %}?selected_section=Share_and_collaborate" class="link-secondary">See more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a href="{% url 'help-section' %}?selected_section=Organize_your_data" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                        <div class="card-body">
                                            <a href="{% url 'help-section' %}?selected_section=Organize_your_data"><h5 class="card-title fw-bold">Organize your data</h5></a>
                                            <a href="">Unterpunkt 1</a><br>
                                            <a href="">Unterpunkt 2</a><br>
                                            <a href="{% url 'help-section' %}?selected_section=Organize_your_data" class="link-secondary">See more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a href="{% url 'help-section' %}?selected_section=settings" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                        <div class="card-body">
                                            <a href="{% url 'help-section' %}?selected_section=settings"><h5 class="card-title fw-bold">Settings</h5></a>
                                            <a href="">Unterpunkt 1</a><br>
                                            <a href="">Unterpunkt 2</a><br>
                                            <a href="{% url 'help-section' %}?selected_section=settings" class="link-secondary">See more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a href="{% url 'help-section' %}?selected_section=security" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                        <div class="card-body">
                                            <a href="{% url 'help-section' %}?selected_section=security"><h5 class="card-title fw-bold">Security</h5></a>
                                            <a href="">Unterpunkt 1</a><br>
                                            <a href="">Unterpunkt 2</a><br>
                                            <a href="{% url 'help-section' %}?selected_section=security" class="link-secondary">See more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a href="{% url 'help-section' %}?selected_section=Legal_and_privacy" class="zoom-img"><img src="https://placehold.co/360x240" class="card-img-top rounded-3" alt=""></a>
                                        <div class="card-body">
                                            <a href="{% url 'help-section' %}?selected_section=Legal_and_privacy"><h5 class="card-title fw-bold">Legal & privacy</h5></a>
                                            <a href="">Unterpunkt 1</a><br>
                                            <a href="">Unterpunkt 2</a><br>
                                            <a href="{% url 'help-section' %}?selected_section=Legal_and_privacy" class="link-secondary">See more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h2 class="mt-5 mb-4 fw-bold">Get in touch</h2><hr>
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-5">
                                    <div>
                                        <img src="https://placehold.co/260x175" class="card-img-top rounded-3" alt="">
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="">
                                        <h4 class="fw-bolder">Email us</h4>
                                        <p class="fs-6 fw-normal">Contact us and get a response within 24 hours.</p>
                                        <a href="" class="btn btn-primary">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-none"><!-- Template Test -->
                            {% include 'helppage/help_section_template.html' with tab_name="Test" section_title="New to ExReg" bt_icon="bi bi-house-heart" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
    {% else %}
        {% url 'sign_in' as sign_in %}
        <script>
            window.location.href = "{% url 'sign_in' %}";
        </script>

    {% endif %}
{% endblock %}