<title>{{ article_title }}</title>
<div class="container mt-4">
    <div class="row">
        {% include "helppage/help_sidebar.html" %}
        <div class="col-md-auto border-start d-none d-lg-block"></div>
        <div class="col-md-8">
            <!-- Zweiter Container -->
            <div class="p-3">
                <section class="help_article">
                    <div class="d-inline-flex flex-wrap">
                        <a href="{% url 'help' %}" class="fw-medium link-secondary" style="text-decoration: none;">Help</a>
                        <span style="line-height: 0; display: block;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="color: rgb(12, 0, 32); opacity: 0.6;">
                                <path d="M8 19l8-14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <a href="{% url 'help-section' %}?selected_section={{ section_url }}" class="fw-medium link-secondary" style="text-decoration: none;">{{ section_tab_name }}</a>
                        <span style="line-height: 0; display: block;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="color: rgb(12, 0, 32); opacity: 0.6;">
                                <path d="M8 19l8-14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <a href="{% url 'help-article' %}?selected_article={{ article_url }}" class="fw-medium" style="text-decoration: none; color: var(--black);">{{ article_tab_name }}</a>
                    </div>
                    <h1 class="fw-bold mt-3">{{ article_name }}</h1>
                    <div style="display: flex; gap: 32px;">
                        <div>
                            <span style="color: rgb(109, 102, 121);">Last updated </span>{{ last_updated }}
                        </div>
                        <div class="css-i4l1z8 e1hj53v00">
                            <span style="color: rgb(109, 102, 121);">Read time </span>{{ read_time }}
                        </div>
                    </div>
                    <!-- Article Info -->
                    <div class="py-3">
                        <div class="my-4">
                            <img class="rounded-3" src="{{ article_image_url }}" alt=""> <!-- {# {% static '{{ article_image_url }}' %} #} -->
                        </div>
                        <div class="mb-4 fs-5">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non atque nisi, adipisci error corporis impedit veritatis debitis quas et quisquam obcaecati natus quo tempore eaque earum neque delectus molestiae blanditiis!</p>
                        </div><hr>
                        <div class="py-3">
                            <h4>Table of contents</h4>
                            <div class="mt-2">
                                <ul class="list-unstyled">
                                    <li><a href="#topic">Topic 1</a></li>
                                    <li><a href="#topic">Topic 2</a></li>
                                    <li><a href="#topic">Topic 3</a></li>
                                    <li><a href="#topic">Topic 4</a></li>
                                </ul>
                            </div>
                        </div><hr>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>    