{% extends 'data/base.html' %} {% load static %} {% load custom_filters %}

{% block help_section %}
    {% if user.is_authenticated %}
        <head>
            <link rel="stylesheet" href="{% static '/css/help_page.css' %}" />
        </head>

        {% if selected_section == 'New_to_ExReg' %}
            {% include 'helppage/help_section_template.html' with section_title="New to ExReg" tab_name="New to ExReg" section_name="New to ExReg" bt_icon="bi bi-house-heart" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
        {% endif %}
        
        {% if selected_section == 'Share_and_collaborate' %}
            {% include 'helppage/help_section_template.html' with section_title="Share & collaborate" tab_name="Share & collaborate" section_name="Share and collaborate" bt_icon="bi bi-share" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
        {% endif %}
        
        {% if selected_section == 'Organize_your_data' %}
            {% include 'helppage/help_section_template.html' with section_title="Organize your data" tab_name="Organize your data" section_name="Organize your data" bt_icon="bi bi-hourglass-split" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
        {% endif %}

        {% if selected_section == 'settings' %}
            {% include 'helppage/help_section_template.html' with section_title="Settings" tab_name="Settings" section_name="Settings" bt_icon="bi bi-gear-wide-connected" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
        {% endif %}

        {% if selected_section == 'security' %}
            {% include 'helppage/help_section_template.html' with section_title="Security" tab_name="Security" section_name="Security" bt_icon="bi bi-shield-check" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
        {% endif %}
        
        {% if selected_section == 'Legal_and_privacy' %}
            {% include 'helppage/help_section_template.html' with section_title="Legal & privacy" tab_name="Legal and privacy" section_name="Legal and privacy" bt_icon="bi bi-vector-pen" article_name="Article Name" article_image_url="https://placehold.co/260x175" article_image_alt="Alt text for article image" last_updated="9. May 2024" read_time="3 min" %}
        {% endif %}


    {% else %}
        {% url 'sign_in' as sign_in %}
        <script>
            window.location.href = "{% url 'sign_in' %}";
        </script>

    {% endif %}
{% endblock %}